@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.btnmain {
  font-weight: 500;
  font-size: 17px;
  transition: all 0.3s ease 0s;
}

.btnmain:hover {
  color: white;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  padding: 8px 25px;
  margin: -8px -25px;
  border-radius: 50px;
}
.btnprim {
  color: white;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  padding: 8px 25px;
  margin: -8px -25px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
.btnprim:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

@media only screen and (max-width: 750px) {
  .btnmain:hover {
    color: white;
    background-color: rgb(0, 120, 150);
    border: none;
    padding: 11px 100vh;
    margin: -11px -100vh;
  }
}
