.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* backgroundColor: theme.palette.background.paper; */
  background-color: white;
  border: "2px solid #000";
  /* boxShadow: theme.shadows[5]; */
  /* p  adding: theme.spacing(2, 4, 3); */
  max-width: 80%;
  max-height: 80%;
}
.desc {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.item {
  margin-right: 20px;
  margin-bottom: 25px;
  text-align: justify;
}

.img {
  padding: 25px;
  max-height: 330px;
  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .paper {
    flex-direction: column-reverse;
    max-width: 80%;
    max-height: 90%;
  }
  .desc {
    max-width: 100%;
  }
}
